*{
    margin: 0;
    padding: 0;
}
body{
    background-image: radial-gradient(circle,rgb(45, 185, 182),rgb(5, 104, 12));
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vmin;
}
.btn{
    width: 18vmin;
    height: 18vmin;
    border-radius: 20%;
    background-image: linear-gradient(#99fd7b, rgb(111, 193, 186));
    color: #ffffff;
    font-size: 100px;
}
.btn:hover{
    height: 19vmin;
    width: 19vmin;
    background-image: linear-gradient(to left, #99fd7b, rgb(111, 193, 186));
    box-shadow: 0 0 0 3px solid rgb(10, 70, 134);
}
p{
    font-size: 4em;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 30px;
}